.auth-nav {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 30px;
        margin-left: auto;
    }
}

.auth-nav__link {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--primary-text-color); 
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    @include transition(color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        line-height: calc(16 / 14);
    }
}

.auth-nav__icon {
    margin-right: 10px;
    fill: currentColor;
    @include transition(fill);

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }  
}