.section-title {
    @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
        color: var(--title-text-color);
      
        font-size: 28px;
        line-height: 1.18;
        text-align: center;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        color: var(--title-text-color);
      
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
    }
}

.client-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--list-gap);
}
  
.client-item {
    flex-basis: calc((100% - (1 * var(--list-gap))) / 2);

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - (2 * var(--list-gap))) / 3);
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - (5 * var(--list-gap))) / 6);
    }
}
  
.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border: 1px solid var(--client-icon-color);
    border-radius: 4px;
  
    color: var(--client-icon-color);
    @include transition(border);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }    
}
  
.client-icon {
    fill: currentColor;
}
  
.client-link  {
    svg {
        @include transition(color);
    }   
}

.client-link:hover svg,
.client-link:focus svg {
        color: var(--accent-color);
}