.team {
    background-color: var(--background-grey-color);
}

.team__title {
    @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
        color: var(--title-text-color);
      
        font-size: 28px;
        line-height: 1.18;
        text-align: center;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        color: var(--title-text-color);
      
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
    }
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--list-gap);
}

.team__item {
    width: 100%;
    background-color: var(--white-color);
    box-shadow: var(--team-card-shadow);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - (1 * var(--list-gap))) / 2);
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - (3 * var(--list-gap))) / 4);
    }
}

.team__card {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;
    
    @media screen and (min-width: 1200px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.team__card-title {
    margin-bottom: 10px;
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team__card-text{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
}

.team-social {
    display: flex;
    gap: var(--social-gap);
    justify-content: center;
}

.team-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: var(--client-icon-color);
    background-color: var(--white-color);
    border-radius: 50%;
    @include transition(background-color);

    svg {
        @include transition(fill);
    }

    &:hover,
    &:focus {
        background-color: var(--background-active-button);
          svg {
              fill: var(--white-color);
          }
    }
}

.team-social__icon {
    fill: currentColor;
}