.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    color: var(--white-color);
    background-color: var(--footer-background-color);
}
  
.footer {
    text-align: center;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
        row-gap: 60px;
    }
    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
        gap: 93px;
        text-align: left;
    }
}

.section-adress, .section-active {
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}
  
.logo-footer {
    display: inline-block;
    margin-bottom: 28px;
    color: var(--white-color);
  
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.accent {
    color: var(--accent-color);
}  
  
.adress-map {
    color: var(--white-color);
    font-style: normal;
    @include transition(color);
}
  
.adress-item:not(:last-child) {
    margin-bottom: 12px;
}
  
.auth-mail,
.auth-tel {
    color: var(--black-opacity-color);
    font-style: normal;
    @include transition(color);
}
  
.adress-map:hover,
.adress-map:focus,
.auth-mail:hover,
.auth-mail:focus,
.auth-tel:hover,
.auth-tel:focus {
    color: var(--accent-color);
}