.push-mail {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.1429;
    text-transform: uppercase;
  }
  
  .footer-form {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
  
  .footer-label {
    margin-right: 12px;
  }
  
  .footer-input {
    margin-bottom: 20px;
    width: 100%;
    padding: 15px 16px;
    border: 1px solid var(--border-color-btn-push-mail);
    border-radius: 4px;
    background-color: var(--footer-background-color);
    @include transition(border-color);
    @include transition(outline);

    @media screen and (min-width: 768px) {
      width: 450px;
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
    }
  }
  
  .footer-input:focus {
    border-color: var(--accent-color);
    outline: var(--accent-color);
  }
  
  .footer-input::placeholder, .footer-input {
    font-size: 16px;
    line-height: 1.25;
    color: var(--black-opacity-color);
  }
  
  .push-icon {
    margin-left: 10px;
  }